php_value session.cookie_lifetime "35650000"

# Options All -Indexes
Options +FollowSymLinks

RewriteEngine On

# Rewrite URI's
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^search/(.*)$ search/index.php?search=$1 [NC,L]
RewriteRule ^search/[a-z]+/$ search/index.php?search=$1 [NC,L]


RewriteRule ^@(.*)$ profile/index.php?profileid=$1 [NE,R]
RewriteRule ^*(.*)$ profile/index.php?profileid=$1 [NE,R]

RewriteRule ^@(.*)/(.*)/status/(.*)/$ status/index.php?uid=$2&status=$3 [NE,R]
RewriteRule ^*(.*)/(.*)/status/(.*)/$ status/index.php?uid=$2&status=$3 [NE,R]

RewriteRule ^social/@(.*)$ profile/index.php?profileid=$1 [NC,L]
RewriteRule ^follow/([0-9]+)/([0-9]+)/(.*)$ follow/index.php?profileid=$1&friendid=$2&csrf=$3 [NC,L]
RewriteRule ^social/follow/([0-9]+)/([0-9]+)/(.*)$ follow/index.php?profileid=$1&friendid=$2&csrf=$3 [NC,L]

RewriteRule ^unfollow/([0-9]+)/([0-9]+)/(.*)$ unfollow/index.php?profileid=$1&friendid=$2&csrf=$3 [NC,L]
RewriteRule ^social/unfollow/([0-9]+)/([0-9]+)/(.*)$ unfollow/index.php?profileid=$1&friendid=$2&csrf=$3 [NC,L]

RewriteRule ^social/opt/request/(.*)/([0-9]+)/([0-9]+)/(.*)$ opt/request/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]
RewriteRule ^opt/request/(.*)/([0-9]+)/([0-9]+)/(.*)$ opt/request/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]

RewriteRule ^social/opt/(.*)/([0-9]+)/([0-9]+)/(.*)$ opt/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]
RewriteRule ^opt/(.*)/([0-9]+)/([0-9]+)/(.*)$ opt/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]

RewriteRule ^flag/(.*)/([0-9]+)/([0-9]+)/(.*)$ flag/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]

RewriteRule ^messenger/([0-9]+)/([0-9]+)/$ messenger/messenger.php?uid=$1&toid=$2 [NC,L]
RewriteRule ^messenger/$ messenger/index.php [NC,L]

RewriteRule ^share/(.*)/([0-9]+)/([0-9]+)/(.*)$ share/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]
RewriteRule ^delete/(.*)/([0-9]+)/([0-9]+)/(.*)$ delete/index.php?method=$1&profileid=$2&postid=$3&csrf=$4 [NC,L]
RewriteRule ^verified(.*)$ verify/index.php?code=$1  [NC,L] 
